.container {
    color: var(--text);
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.container .title {
    color: var(--text);
    font-size: 1.4em;
    font-weight: 600;
    padding-left: .7rem;
    margin-bottom: 1rem;
}

.groupsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}